it.iren.ireti.predictive.twobeat_estrazioni_viro_vvro/Schemas/Interfacce/publishViro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/publishViro" xmlns:tns="http://www.example.org/publishViro" elementFormDefault="qualified" xmlns:Q1="http://twobeat.enel.com/publishviro/types/1.1">

    <import namespace="http://twobeat.enel.com/publishviro/types/1.1"></import>
    <element name="publishViro" type="tns:publishViroType"></element>
    
    <complexType name="publishViroType">
    	<sequence>
    		<element ref="Q1:publishViroList"></element>
    		<element name="timestampJMS" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>